-
    var books = [
        {
            name: "Железный король",
            pages: "416",
            author: "Кагава Д.",
            img: `${pathContentImg}book-iron-king.jpg`,
            description: "Меган удалось победить Железного короля, и теперь она во Дворце",
            stars: "3.8",
            link: "iron-king.html",
            width: "221",
            height: "221"
        },
        {
            name: "Лисья нора",
            pages: "336",
            author: "Сакавич Н.",
            img: `${pathContentImg}book-fox-hole.jpg`,
            description: "Команда Лисов—игроки экси, которые пытаются выиграть чемпионат мира",
            stars: "4.2",
            link: "#",
            width: "221",
            height: "221"
        },
        {
            name: "Просто маса",
            pages: "448",
            author: "Акунин Б.",
            img: `${pathContentImg}book-just-masa.jpg`,
            description: "Масу ожидают невероятные потрясения и невероятные приключения",
            stars: "4.5",
            link: "#",
            width: "221",
            height: "221"
        },
        {
            name: "Зеленый свет",
            pages: "320",
            author: "Макконахи М.",
            img: `${pathContentImg}book-green-light.jpg`,
            description: "Как быть честным. Как избежать стресса. Как радоваться жизни",
            stars: "3.9",
            link: "#",
            width: "221",
            height: "221"
        },
        {
            name: "Солнце полуночи",
            pages: "784",
            author: "Майер С. ",
            img: `${pathContentImg}book-sun-midnight.jpg`,
            description: "История любви и приключений от лица Эдварда",
            stars: "3.5",
            link: "#",
            width: "221",
            height: "221"
        },
        {
            name: "Вторая жизнь Уве",
            pages: "384",
            author: "Бакман Ф.",
            img: `${pathContentImg}book-second-life.jpg`,
            description: "Откуда берутся зануды и склочники? Внутри зреет обида на мир",
            stars: "4.4",
            link: "#",
            width: "221",
            height: "221"
        },
        {
            name: "Истребитель",
            pages: "576",
            author: "Быков Д.",
            img: `${pathContentImg}book-istrebitel.jpg`,
            description: "Роман о советских летчиках, \"соколах Сталина\"",
            stars: "3.9",
            link: "#",
            width: "221",
            height: "221"
        },
        {
            name: "Лавр",
            pages: "448",
            author: "Водолазкин Е.",
            img: `${pathContentImg}book-lavr.jpg`,
            description: "Возможно ли любовью и жертвой спасти душу человека?",
            stars: "4.1",
            link: "#",
            width: "221",
            height: "221"
        }
    ];
